<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>
<body>
<!-- Encabezado -->
<header class="bg-primary text-white py-3">
    <div class="container">
        <h1 class="mb-0">Milkstgo</h1>
        <p class="lead">Administra tus proveedores y acopios de manera eficiente</p>
    </div>
</header>
<!-- Contenido principal -->
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <a th:href="@{/proveedores/agregar}">
                <div class="card">
                    <div class="card-body card-height">
                        <h5 class="card-title">Agregar proveedor</h5>
                        <p class="card-text">Agrega un nuevo proveedor a tu lista de proveedores.</p>
                        <i class="bi bi-person-plus-fill"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a th:href="@{/proveedores/listar}">
                <div class="card">
                    <div class="card-body card-height">
                        <h5 class="card-title">Listar proveedores</h5>
                        <p class="card-text">Ve la lista de tus proveedores y su información.</p>
                        <i class="bi bi-people-fill"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a th:href="@{/acopio/excel}">
                <div class="card">
                    <div class="card-body card-height">
                        <h5 class="card-title">Importar acopios</h5>
                        <p class="card-text">Importa tus acopios desde un archivo Excel para una mejor gestión de
                            datos.</p>
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a th:href="@{/valores-acopio/excel}">
                <div class="card">
                    <div class="card-body card-height">
                        <h5 class="card-title">Importar valores</h5>
                        <p class="card-text mb-0">Importa valores de grasa y sólidos desde un archivo Excel para una mejor
                            precisión en tus registros.</p>
                        <i class="bi bi-percent"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a th:href="@{/planilla}">
                <div class="card">
                    <div class="card-body card-height">
                        <h5 class="card-title">Generar pagos</h5>
                        <p class="card-text">Genera un reporte y planilla de pagos detallados para tus proveedores.</p>
                        <i class="bi bi-table"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a th:href="@{planilla/pagos/formulario}">
                <div class="card">
                    <div class="card-body card-height">
                        <h5 class="card-title">Ver Pagos</h5>
                        <p class="card-text">Ver el ultimo reporte detallado por proveedor</p>
                        <i class="bi bi-table"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
