<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
</body>
<!-- Script para mostar un sweet alert de error -->
<script>
  window.onload = () => {
    Swal.fire({
      icon: 'error',
      title: 'Error al cargar planilla',
      text: 'Parece que el codigo del proveedor es incorrecto o no se encuentra en nuestros registros.\n' +
          'Por Favor vuelva a intenarlo.',
      confirmButtonText: 'OK'
    });
    setTimeout(() => {
      window.location.href = "/planilla/pagos/formulario";
    }, 4000);
  }
</script>
</html>
