<!-- Vista utilizando thymeleaf -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Validating</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
</body>
<script>
    window.onload = () => {
        Swal.fire({
            icon: 'success',
            title: 'Datos subidos con éxito!',
            text: 'Serás redirigido a la página principal.',
            confirmButtonText: 'OK'
        });
        setTimeout(() => {
            window.location.href = "/";
        }, 4000);
    }
</script>
</html>